/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* Variables */

:root{
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-blue:#81B3D2;
  --basic-blue-focus:#669EC0;
  --basic-blue-active:#5496BD;
  --basic-grey:#EEEEEE;
  --basic-grey-light:#F2F2F2;
  --basic-grey-dark:#EBEBEB;
  --basic-grey-light-page:#CACACA;


  --special:#766357;
  --special-focus:#604E43;
  --special-active:#503E33;
  --special-circle: #ABABAB;
  --special-locked: #6A6A6A;
  --special-line: #E5E5E5;
  --special-form: #A9A9A9;

  --special-logo-active:#BDBBBC;
}

/* Global */

body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body{
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
  align-content: start;
}
.page a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}

/* Main header */
.site-navigation a:hover,
.site-navigation a:focus,
.catalog-item a:hover,
.catalog-item a:focus{
  color: var(--basic-blue);
}
.site-navigation a:active,
.catalog-item a:active{
  color: var(--basic-black);
  opacity: 0.3;
}
/* User navigation*/
.main-navigation{
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-navigation .container{
  margin-top: 14px;
  margin-bottom: 16px;
}
.site-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 73px;

}
.site-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a{
  color: var(--basic-black);
}
.site-navigation li:first-child{

}
.site-navigation li:nth-child(2){
  align-self: flex-start;
  margin-right: 284px;
}
.site-navigation li:nth-child(3){
  align-self: flex-end;
  margin-right: 14px;
}
.site-navigation li:last-child{
}
/* Logo */
.main-header{
  position: relative;
}
.main-header-logo{
  position: absolute;
  margin-top: 0 ;
  right: 44.2%;
  order: -1;
  width: 138px;
  height: 70px;
}
/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
}
.page-shadow{
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
.nav-hotels a{
  color: var(--special);
  font-weight: bold;
}
/* background */
.main-content::before {
  content: "";
  display: block;
  width: 1200px;
  height: 509px;
  background-image: url("../img/welcome.svg"),
  url("../img/white-border.png"),
  url("../img/sedona.jpg") ;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, bottom, center;
}
/* Filters */
.filters {
  width: 1200px;
  height: 217px;
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.filter-panel{
  display: flex;
  justify-content: space-between;
  padding-top: ;
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-left: 70px;
}
.filter-panel fieldset{
  padding: 0;
  margin-top: 25px;
  border: none;
}
.filter ul{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
.filter-option {
  margin-bottom: 25px;
  padding-left: 39px;
}
.filter-panel .type-hostel{
  margin-right: 238px;
  padding-left: 3px;
}
.filter-panel legend{
  margin-bottom: 27px;
}
.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox[disabled] + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked[disabled] + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/*
.filter-input-checkbox:checked + label::after{
content: "";
position: absolute;
top: 0;
left: -39px;
width: 27px;
height: 23px;
border: none;
background-image: url("../img/checkbox-on.svg");
background-repeat: no-repeat;
background-position: 0 0;
}
*/

.filter-item{
  margin: 0;
  padding: 0;
  margin-right: 73px;
  border: none;
  display: flex;
  flex-direction: column;
  width: 315px;
}
.filter-panel legend{
  font-weight: 700;
}
.filter-item legend{
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding-bottom: 12px;

}
.price-controls{
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
.price-controls .min-price{
  margin-left: 22px;
}
.price-controls .max-price{
  margin-right: 0px;
}
.price-controls input {
  width: 30px;
  padding: 8px;
  padding-left: 0;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}
.price-controls::before{
  content: "";
  position: absolute;
  top: 5px;
  left: 155px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}
.range-controls {
  position: relative;
  height: 20px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}
.range-controls .scale{
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}
.range-controls .bar{
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}
.range-controls .toggle{
  position: absolute;
  top: 12px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 7px solid var(--basic-white);
  background-color: var(--special-circle);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--special-circle);
  cursor: pointer;
}
.range-controls .toggle-min{
  left: 0;
}
.range-controls .toggle-max{
  left: 253px;
}
.range-controls .toggle:hover,
.range-controls .toggle:focus{
  transform: scale(1.1);
}
/* Breadcrumbs */
.filters-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  weight: 1055px;
  padding: 0;
  margin: 0;
  margin-left: 73px;
  margin-right: 67px;
}
.filters-option{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 29px;
  margin-bottom: 31px;
}
.filters-option p{
  margin: 0;
  margin-right: 47px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.filters-option button:nth-of-type(1){
  margin-left: 35px;
}
.filters-option button:nth-of-type(2){
  margin-left: 19px;
}
.filters-option button:nth-of-type(3){
  margin-left: 21px;
}
.list-scroll{
  margin-top: 6px;
  padding: 0;
}
.list-scroll button:nth-of-type(1){
  padding: 0;
  margin-right: 1px;
}


.greeting{
  align-items: center;
  text-align: center;
  margin-top: 43px;
  margin-bottom: 52px;
}
.greeting h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 43px;
}
.greeting p{
  margin-top: 0;
}

/* Search  Hotels*/
.catalog{
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-left: 73px;
  margin-right: 73px;
}
.catalog-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-item{
  min-height: 151px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  /*
  border-top: 1px solid var(--special-line);
  border-bottom: 1px solid var(--special-line);
  */

}
.catalog-list a{
  align-self: center;
  margin-top: 9px;
}

.catalog-item::before{
  content: "";
  position: absolute;
  top: 0;
  left: -73px;
  width: 1200px;
  height: 1px;
  background-color: var(--special-line);
}
.catalog-item:last-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -73px;
  width: 1200px;
  height: 1px;
  background-color: var(--special-line);
}
.catalog-info{
  margin-top: 24px;
  margin-left: 29px;
  margin-right: auto;
  align-self: flex-start;
  padding: 0;
}
.catalog-rating p{
  text-align: right;
}
.rating-stars{
  margin-top: 31px;
  margin-bottom: 42px;
}
.hotel-price{
  border: none;
}
.hotel-price td{
  width: 90px;
  padding-right: 18px;
  padding-top: 7px;
  padding-bottom: 14px;
}
.button-info-book{

}
.rating-level{
  display: block;
  padding: 3px 13px;
  background-color: var(--basic-grey-light);
}
.hotel-name{
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.catalog a{
  text-decoration: none;
  color: var(--basic-black);
}

.catalog h3:focus{
  color: var(--basic-blue);
}
.catalog h3:active{
  color:  var(--basic-black);
  opacity: 0.3;
}
/* Main  Hotels*/

.features{
  color: var(--basic-white);
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr auto;
}
.features-second{
  color: var(--basic-white);
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: auto 1fr;
}
.features-text{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding: 25px;
  margin: 0;
}
.features-text h2{
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 28px;
}
.features-text p{
  margin-top: 25px;
}




.offers{
  margin-top: 60px;
  margin-bottom: 65px;
}
.offers-list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.offers-list,
.catalog li{
  list-style: none;
}
.offers-item{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.offers-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 27px;
  margin-bottom: 26px;
}
.offers-list>.home::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../img/home.svg");
  margin: 0 auto;
}
.offers-list>.food::before{
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background-image: url("../img/food.svg");
  margin: 0 auto;
}
.offers-list>.present::before{
  content: "";
  display: block;
  width: 65px;
  height: 75px;
  background-image: url("../img/present.svg");
  margin: 0 auto;
}





.features-last{
  padding-top: 30px;
  padding-bottom: 45px;
}
.features-last h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 26px;
}
.offers-item p{
  margin-top: 22px;
}

.home::before{
  background-image: url("img\home.svg");
}

.food::before{
  background-image: no-repeat url("img\food.svg");
}

.present::before{
  background-image: no-repeat url("img\present.svg");
}

.container-columns{
  background-color: var(--basic-grey);
  font-size: 14px;
  line-height: 21px;
}

/* search */
.search{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 54px;
}
.search h2{
  padding: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
.search p:last-of-type{
  padding-bottom: 32px;
}

/* footer
position: relative;
left: 0;
bottom: 150px;
*/
.main-footer{
  text-align: center;
  padding: 0;
  margin-top: 1px;
  margin-bottom: 36px;
  background-color: var(--basic-white);
}
.main-footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.absolute-footer{
  position: absolute;
  margin-top: -118px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}
.footer-contacts{
  margin-left: 110px;
  width: 251px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.footer-contacts p{
  margin: 0;
  margin-top: 23px;
  margin-bottom: 9px;
}

.contacts-phone{
  color: inherit;
  letter-spacing:.2px;
}
.footer-social{
  margin-left: 125px;
  width: 150px;
  text-align: center;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 36px auto;
  padding: 0;
  list-style: none;
}

.html-academy{
  margin-top: 20px;
  margin-left: 67px;
  width: 194px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Modal
*/
.modal{
  display: ;
  position: fixed;
  top: 0;
  right: 0;
  bottom: -105px;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 570px;
  height: 395px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}
.appointment-form{
  margin: 0;
  margin-top: 55px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.appointment-item,
.appointment-age,
.age-children{
  padding: 0;
  margin: 0;
}
.data-calendar{
  width: 570px;
  margin-bottom: 29px;
}
.appointment-age{
  display: flex;
  justify-content: space-around;
  width: 570px;
  margin-bottom: 41px;
}
.data-calendar label{
  margin-left: 56px;
  margin-right: 20px;
}
.age-old label:nth-of-type(1){
  margin-left: 8px;
  margin-right: 37px;
}
.age-children label:nth-of-type(1){
  margin-right: 27px;
  margin-left: 45px;
}
.age-old{
  margin-left: 45px;
}
.age-children{
  margin-right: 45px;
}
.appointment-form input{
  text-transform: uppercase;
  width: 346px;
  padding-top: 6px;
  padding-right: 100px;
  padding-bottom: 6px;
  padding-left: 13px;
  font: inherit;
  background-color: var(--basic-grey-light);
  border: none;
  box-sizing: border-box;
}
.age-old input,
.age-children input{
  width: 114px;
  padding: 6px 39px;
  text-align: center;
  font: inherit;
  background-color: var(--basic-grey-light);
  border: none;
  box-sizing: border-box;
}
.data-calendar,
.age-old,
.age-children{
  position: relative;
}
.calendar{
  position: absolute;
  margin: 0;
  padding: 0;
  right: 65px;
  bottom: 8px;
  width: 21px;
  height: 23px;
  border: none;
}
.plus{
  position: absolute;
  margin: 0;
  padding: 0;
  right: 13px;
  bottom: 14px;
  width: 11px;
  height: 11px;
  border: none;
}
.minus{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 12px;
  height: 3px;
  top: 50%;
  right: 90px;
  width: 12px;
  height: 3px;
  background-color: var(--special-form);
  border: none;
}
.minus:hover,
.minus:focus{
  background-color: var(--basic-black);
}
.minus:active{
  background-color: var(--basic-blue);
}
.plus:hover path,
.plus:focus path{
  fill: var(--basic-black);
}
.plus:active path{
  fill: var(--basic-blue);
}
.calendar:hover path,
.calendar:focus path{
  fill: var(--basic-black);
}
.calendar:active path{
  fill: var(--basic-blue);
}
.appointment-form input:hover,
.appointment-form input:focus{
  background-color: var(--basic-grey-dark);
}
.appointment-form input:active{
  background: #FFFFFF;
  box-sizing: border-box;
}
/* Button */

.button{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
}
.button-search{
  padding: 30px 140px;
}
.button-find{
  padding: 16px 196px;
}
.button-details,
.button-book{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 17px;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.social-button:active img {
  opacity: 0.3;
}
.button:hover,
.button:focus,
.social-button:hover,
.social-button:focus{
  background-color: var(--basic-blue-focus);
}

.button:active,
.social-button:active{
  background-color: var(--basic-blue-active);
  color: rgba(255, 255, 255, 0.3);
}

.button-search,
.button-book{
  background-color: var(--special);
}

.button-search:hover,
.button-book:hover{
  background-color: var(--special);
}
.button-search:hover,
.button-search:focus,
.button-book:hover,
.button-book:focus{
  background-color: var(--special-focus);
}

.button-search:active,
.button-book:active{
  background-color: var(--special-active);
}

.button-page{
  background-color: var(--basic-white);
}
.button-page:hover,
.button-page:focus{
  background-color: var(--basic-black);
}

.button-page:active{
  background-color: var(--basic-blue);
  opacity: 0.3;
}

.button-scroll{
  background: none;
  border: none;
}
.button-scroll:hover path,
.button-scroll:focus path{
  fill: var(--basic-black);
}
.button-scroll:active path{
  fill: var(--basic-blue);
}

.button-filters{
  background: none;
  border: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
  border-color: var(--basic-blue);
  text-transform: uppercase;
  opacity: 0.3;
}
.button-price{
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}
.button-filters:hover,
.button-filters:focus{
  color: var(--basic-blue);
  opacity: 1;
}
.button-filters:active{
  color: var(--basic-black);
  opacity: 1;
}


.button-result{
  margin-right: 12px;
  align-self: center;
  width: 137px;
  padding: 6px 35px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background: none;
  border: 2px solid var(--basic-white);
}
.button-result:hover,
.button-result:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*Пока не работает */
.button-academy:hover path,
.button-academy:focus path{
  fill: var(--basic-blue);
}
/*Пока не работает */

.button-academy:active path{
  fill: var(--special-logo-active);
}
