/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v12-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../fonts/pt-sans-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/pt-sans-v12-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

/* Variables */

:root{
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-blue:#81B3D2;
  --basic-blue-focus:#669EC0;
  --basic-blue-active:#5496BD;
  --basic-grey:#EEEEEE;
  --basic-grey-light:#F2F2F2;
  --basic-grey-dark:#EBEBEB;
  --basic-grey-light-page:#CACACA;


  --special:#766357;
  --special-focus:#604E43;
  --special-active:#503E33;
  --special-circle: #ABABAB;
  --special-locked: #6A6A6A;
  --special-line: #E5E5E5;
  --special-form: #A9A9A9;

  --special-logo-active:#BDBBBC;
}

/* Global */

body{
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-body{
  min-height: 100%;
  display: grid;
  grid-template: min-content 1fr min-content;
  align-content: start;
}
.page a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}

/* Main header */

/* User navigation*/
.main-navigation{
  background-color: var(--basic-white);
  color: var(--basic-black);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-navigation .container{
  margin-top: 13px;
  margin-bottom: 16px;
}
.site-navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 73px;
  margin-right: 73px;

}
.site-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a{
  color: var(--basic-black);
}
.site-navigation li:first-child{
  margin-right: 133px;
}
.site-navigation li:nth-child(2){
  margin-right: 418px;
}
.site-navigation li:nth-child(3){
}
.site-navigation li:last-child{
  margin-left: 133px;
}
/* Logo */
.main-header-logo{
  position: absolute;
  margin-top: 0 ;
  order: -1;
  width: 130px;
  height: 70px;
}




/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.page-shadow{
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.nav-hotels a{
  color: var(--special);
  font-weight: bold;
}

/* background */
.main-content::before {
  content: "";
  display: block;
  width: 1200px;
  height: 509px;
  background-image: url("../img/welcome.svg"),
  url("../img/white-border.png"),
  url("../img/sedona.jpg") ;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, bottom, center;
}
.filters {
  content: "";
  display: block;
}
.filter-panel{
  display: flex;
  justify-content: space-between;
  padding-top: ;
  width: 1200px;
  height: 217px;
  color: var(--basic-white);
  background-image: url("../img/background-hotels.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.filter-panel fieldset{
  padding: 0;
  margin-bottom: 32px;
  border: none;
  margin-left: 72px;
  margin-top: 27px;
}
.filter-panel .type-hostel{
  margin-right: 350px;
}
/* Filters */

.filter-panel legend{
  padding-bottom: 25px;
}
.filter ul{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 25px;
}
.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}
.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}
.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--basic-white);
}
.filter-input-checkbox[disabled] + label{
  color: var(--special-locked);
}
.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}
.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  top: 0;
  left: -39px;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-item{
  margin: 0;
  padding: 0;
  margin-right: 73px;
  border: none;
  display: flex;
  flex-direction: column;
  width: 315px;
}
.filter-panel legend{
  font-weight: 700;
}
.filter-item legend{
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  padding-bottom: 10px;
}
.range-filter{
  margin-top: 1px;
}
.range-controls {
  position: relative;
  height: 20px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.range-controls .scale{
  height: 2px;
  background-color: var(--basic-white);
  opacity: 0.3;
}
.range-controls .bar{
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}
.range-controls .toggle{
  position: absolute;
  top: 14px;
  left: 0px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 5.5px solid var(--basic-white);
  background-color: var(--special-circle);
  border-radius: 50%;
  box-shadow: 0 2px 0 0 var(--special-circle);
  cursor: pointer;
}
.range-controls .toggle-min{
  left: 10px;
}
.range-controls .toggle-max{
  left: 160px;
}
.range-controls .toggle:hover,
.range-controls .toggle:focus{
  transform: scale(1.1);
}
.price-controls label{
  font-size: 14px;
  line-height: 21px;
}
.price-controls input {
  width: 60px;
  padding: 8px;
  text-align: left;
  font-family: inherit;
  font-size: inherit;
  color: var(--basic-white);
}
.price-controls{
  display: flex;
  justify-content: space-around;
}
.button-show{
  align-items: center;
}



/* Breadcrumbs */
.filters-search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  weight: 1055px;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
}

.filters-search p{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filters-option{
  weight: 354px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-right: 290px;

}
.filters-option .button-filters{
  margin-left: 33px;
  margin-right: 33px;
}

.greeting{
  align-items: center;
  text-align: center;
  margin-top: 42px;
}
.greeting h1{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 35px;
}
.greeting p{
  margin-bottom: 51px;
}

/* Search  Hotels*/
.catalog{
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  margin-left: 72px;
  margin-right: 72px;
}
.catalog-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.catalog-list li{
  position: relative;
}
.catalog-list li::before{
  content: "";
  position: absolute;
  top: 0;
  left: -73px;
  width: 1200px;
  height: 1px;
  background-color: var(--special-line);
}

.catalog-list li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -73px;
  width: 1200px;
  height: 1px;
  background-color: var(--special-line);
}

.catalog-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  border-top: 10px black;
  border-bottom: : 10px black;
}
.catalog-info{
  margin-right: 500px;
  margin-top: 20px;
  margin-bottom: 30px;

}
.catalog-rating p{
  text-align: right;
}
.hotel-price td{
  width: 90px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.rating-level{
  display: block;
  padding: 3px 15px;
  background-color: var(--basic-grey-light);
}
.hotel-name{
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.catalog a{
  text-decoration: none;
  color: var(--basic-black);
}

.catalog h3:focus{
  color: var(--basic-blue);
}
.catalog h3:active{
  color:  var(--basic-black);
  opacity: 0.3;
}
/* Search  Hotels*/

.features{
  color: var(--basic-white);
  background-color: var(--basic-blue);
  display: grid;
  grid-template-columns: 1fr auto;
}
.features-text{
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  padding: 25px;
  margin: 0;
}
.features-text h2{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-top: 30px;
}





.offers{
  margin-top: 60px;
  margin-bottom: 80px;
}
.offers-list{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.offers-list,
.catalog li{
  list-style: none;
}
.offers-item{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.offers-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.offers-list>.home::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  background-image: url("../img/home.svg");
  margin: 0 auto;
}
.offers-list>.food::before{
  content: "";
  display: block;
  width: 75px;
  height: 70px;
  background-image: url("../img/food.svg");
  margin: 0 auto;
}
.offers-list>.present::before{
  content: "";
  display: block;
  width: 65px;
  height: 75px;
  background-image: url("../img/present.svg");
  margin: 0 auto;
}





.features-last{
  padding-top: 47px;
  padding-bottom: 54px;
}
.features-last h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}


.home::before{
  background-image: url("img\home.svg");
}

.food::before{
  background-image: no-repeat url("img\food.svg");
}

.present::before{
  background-image: no-repeat url("img\present.svg");
}

.container-columns{
  background-color: var(--basic-grey);
  font-size: 14px;
  line-height: 21px;
}

/* search */
.search{
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 60px;
}
.search-interest{
  font-size: 30px;
  font-weight: bold;
}
.search p:last-of-type{
  padding-bottom: 20px;
}

/* footer
position: relative;
left: 0;
bottom: 150px;
*/
.main-footer{
  text-align: center;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 36px;
  background-color: var(--basic-white);
}

.main-footer .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-contacts{
  margin-left: 111px;
  width: 251px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.hashtag{
  margin-bottom: 0.6em;
}
.contacts-phone{
  color: inherit;
}
.html-academy{
  margin-right: 138px;
  width: 200px;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social{
  margin-left: 100px;
  width: 155px;
  text-align: center;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 36px auto;
  padding: 0;
  list-style: none;
}
.absolute-footer{
  margin: 0 auto;
  padding: 0 10px;
  margin-top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
}



/* Modal
 */
.modal{
  display: ;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 570px;
  height: 395px;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.appointment-form{
  margin: 0;
  margin-top: 30px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.appointment-item,
.appointment-age{
  width: 568px;

}
.appointment-item{
  margin-bottom: 30px;
}
.appointment-age{
  margin-bottom: 40px;
}
.appointment-item label{
  margin-left: 55px;
  margin-right: 10px;
}
.appointment-age label:nth-of-type(1){
  margin-left: 55px;
  margin-right: 30px;
}
.appointment-age label:nth-of-type(2){
  margin-right: 30px;
  margin-left: 40px;
}
.appointment-form input{
  width: 346px;
  padding-top: 6px;
  padding-right: 100px;
  padding-bottom: 6px;
  padding-left: 13px;
  font: inherit;
  background-color: var(--basic-grey-light);
  border: none;
  box-sizing: border-box;
}
.appointment-age input{
  width: 114px;
  padding: 6px 39px;
  text-align: center;
  font: inherit;
  background-color: var(--basic-grey-light);
  border: none;
  box-sizing: border-box;
}
.appointment-item input,
.appointment-age input{
  position: relative;
}
.appointment-item input::after{
  position: absolute;
  content: "";
  display: block;
  right: 5px;
  width: 21px;
  height: 23px;
  background-image:  url("../img/calendar.svg");
  background-repeat: no-repeat;
}

.appointment-age input::before{
  content: "";
  position: absolute;
  top: 3px;
  left: 12px;
  width: 12px;
  height: 3px;
  background-color: var(--special-form);
}
.appointment-age input::after{
  content: "";
  position: absolute;
  right: -10px;
  width: 11px;
  height: 11px;
  background-image:  url("../img/plus.svg");
  background-repeat: no-repeat;
}
/*
.appointment-form input:nth-child(3),
.appointment-form input:last-child{
  width: 114px;
}
*/
/* Button */

.button{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: none;
}
.button-search{
  padding: 30px 140px;
}
.button-find{
  padding: 16px 182px;
}
.button-details,
.button-book{
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 48px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}
.social-button:active img {
  opacity: 0.3;
}
.button:hover,
.button:focus,
.social-button:hover,
.social-button:focus{
  background-color: var(--basic-blue-focus);
}

.button:active,
.social-button:active{
  background-color: var(--basic-blue-active);
}

.button-search,
.button-book{
  background-color: var(--special);
}

.button-search:hover,
.button-book:hover{
  background-color: var(--special);
}
.button-search:hover,
.button-search:focus,
.button-book:hover,
.button-book:focus{
  background-color: var(--special-focus);
}

.button-search:active,
.button-book:active{
  background-color: var(--special-active);
}

.button-page{
  background-color: var(--basic-white);
}
.button-page:hover,
.button-page:focus{
  background-color: var(--basic-black);
}

.button-page:active{
  background-color: var(--basic-blue);
  opacity: 0.3;
}

.button-scroll{
  background: none;
  border: none;
}
.button-scroll:hover path,
.button-scroll:focus path{
  fill: var(--basic-black);
}
.button-scroll:active path{
  fill: var(--basic-blue);
}

.button-filters{
  background: none;
  border: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: dotted;
  border-left-style: none;
  text-transform: uppercase;
}

.button-result{
  width: 133px;
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background: none;
  border: 2px solid var(--basic-white);
}
.button-result:hover,
.button-result:focus{
  color: var(--basic-black);
  background-color: var(--basic-white);
}
/*Пока не работает */
.button-academy:hover path,
.button-academy:focus path{
  fill: var(--basic-blue);
}
/*Пока не работает */

.button-academy:active path{
  fill: var(--special-logo-active);
}
